<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-100">

	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>

	<main class="ml-0 lg:ml-64 mt-16 p-6">

		<div class="bg-white p-6 rounded-2xl shadow max-w-lg">

			<h2 class="text-xl font-bold mb-4">Chi tiết sản phẩm</h2>

			<p><b>ID:</b> <span th:text="${product.productID}"></span>
			<p><b>Tên:</b> <span th:text="${product.name}"></span></p>
			<p><b>Giá:</b> <span th:text="${product.defaultSellingPrice}"></span></p>
			<!--<p><b>Số lượng:</b> <span th:text="${product.quantity}"></span></p>
			<p><b>Mô tả:</b> <span th:text="${product.description}"></span></p>-->

			<a href="/listproduct" class="mt-4 inline-block bg-rose-400 text-white px-4 py-2 rounded">
				Quay lại
			</a>

		</div>

	</main>

	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>